
body{
	font-family: "Roboto", sans-serif;
	background:#f9f9f9;
	min-height: 100vh;
	position: relative;
	padding-bottom: 80px;
}

.navbar{
	background-color:#fff!important;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.banner{
	padding-top: 150px;
	padding-bottom: 150px;
	color:#fff;
	background:url('../images/banner.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
	z-index: 0;
}
.banner:after{
	content:"";
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.2);
	z-index: -1;
}
.banner-content{
	text-align: center;
}
.banner-content h1,
.banner-content h4{
	margin-bottom: 30px;
}

.section-50{
	padding-top:50px;
	padding-bottom:50px;
}
.section-100{
	padding-top:100px;
	padding-bottom:100px;
}

.box{
	max-width: 400px;
	padding:30px;
	background: #fff;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	margin:0 auto;
}

footer{
	position: absolute;
	bottom:0;
	margin-bottom: 0;
	width:100%;
	background:#333;
	color:#fff;
	padding:20px 0;
}